body {
    height: 97vh;
    background-size: cover;
    background-color: #242424;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #f2f3f4;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#tupoy .new { opacity: 0; }
#tupoy {
    margin-left : 100px; 
    padding: 190px 0px 0px 100px; 
    width: 626px;
    height: 210px;
    display: none; 
    font-size: 35px;
    font-weight: bold;

    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}
#tupoy .div_opacity {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #0267FF;
}

::-webkit-scrollbar-track {
    background: #000;
}

.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;    
}
.heading {
    position: absolute;
    width: 170px;
    height: 37px;
    left: 229px;
    top: 22px;
    font-size: 30px;
    font-weight: bold;
    line-height: 37px;
    color: #FFFFFF;
}

.nav {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:hover {
    color: #0267FF;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #0267FF;
}

.nav__link.error {
    transform: rotate(160deg);
    top: -25px;
    right: -370px;
}

.nav__link.error:hover {
    color: #EF3124;
}

.btn {
    margin: 0 15px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    
    top: -7px;
    border-radius: 13px;
    font-size: 14px;
    font-weight: 700;
    background-color: #0267FF;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear, border-radius .3s;
}

.btn:hover {
    background-color: #003688;
    color: #242424;
    border-radius: 5px;
}

.avatar {
    position: absolute;
    width: 63.89px;
    height: 50px;
    left: 162px;
    top: 15px;
}

.vector {
    position: absolute;
    width: 1920px;
    height: 1048px;
    left: 0px;
    top: 355px;

    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}

.vector.smile {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 536px;
    top: 395px;
    
    transform: rotate(-0.98deg);

    animation-delay: 1.5s; /* Задержка перед началом */
}

.vector.text {
    position: absolute;
    width: 320px;
    height: 74px;
    left: 1030px;
    top: 490px;
    
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    
    color: #FFFFFF;
    
    transform: rotate(-16.5deg);

    animation-delay: 1.5s; /* Задержка перед началом */
}

@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }